.section-instagram-feed .instagram-feed {
  padding-top: 33px;
  padding-bottom: 15px;
}
@media only screen and (min-width: 768px) {
  .section-instagram-feed .instagram-feed {
    padding-top: 55px;
    padding-bottom: 80px;
  }
}
.section-instagram-feed .instagram-feed__header {
  padding: 0 15px;
}
@media only screen and (min-width: 768px) {
  .section-instagram-feed .instagram-feed__header {
    padding: 0 55px;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 47px;
  }
}
.section-instagram-feed .instagram-feed__header .instagram-feed__title {
  margin-bottom: 7px;
}
.section-instagram-feed .instagram-feed__header .instagram-feed__button .button svg {
  width: 20px;
  margin-left: 16px;
  position: relative;
  z-index: 8;
}
.section-instagram-feed .instagram-feed__header .instagram-feed__button .button svg path {
  fill: white;
}
.section-instagram-feed .instagram-feed__header .instagram-feed__button .button:hover svg path {
  fill: var(--outline-button-label, var(--color-accent));
}
.section-instagram-feed .instagram-feed__slide.swiper-slide {
  width: 16%;
}
.section-instagram-feed .instagram-feed__slider-container {
  padding: 0 10px;
}
.section-instagram-feed .instagram-feed__slider-container .swiper-wrapper {
  flex-wrap: wrap;
  flex-direction: row;
  transition-timing-function: linear;
}
@media only screen and (min-width: 576px) {
  .section-instagram-feed .instagram-feed__slider-container .swiper-wrapper {
    flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    width: -moz-fit-content;
    width: fit-content;
  }
}
.section-instagram-feed .instagram-feed__slider-container .swiper-wrapper .instagram-feed__slide {
  width: -moz-fit-content;
  width: fit-content;
  aspect-ratio: 1;
  text-align: center;
  font-size: 18px;
  height: auto;
}
.section-instagram-feed .instagram-feed__slider-container .swiper-wrapper .instagram-feed__slide img {
  background-color: rgb(255, 255, 255);
  width: -webkit-fill-available;
  max-width: 307px;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
  margin: 0px 8px;
  min-width: 164px;
}
@media only screen and (min-width: 576px) {
  .section-instagram-feed .instagram-feed__slider-container .swiper-wrapper .instagram-feed__slide img {
    margin: 0;
    max-width: 200px;
  }
}
@media only screen and (min-width: 1068px) {
  .section-instagram-feed .instagram-feed__slider-container .swiper-wrapper .instagram-feed__slide img {
    max-width: 307px;
    min-width: 307px;
  }
}